---
- name: Install Kubernetes tools and services
  hosts: k8s
  become: yes
  vars:
    kubectl_version: "v1.29.0"
    eksctl_version: "v0.175.0"

  tasks:

  - name: Install base packages
    dnf:
      name:
        - git
        - curl
        - unzip
      state: present

  # ---------------- kubectl ----------------
  - name: Download kubectl
    get_url:
      url: "https://dl.k8s.io/release/{{ kubectl_version }}/bin/linux/amd64/kubectl"
      dest: /usr/local/bin/kubectl
      mode: '0755'

  # ---------------- eksctl ----------------
  - name: Download eksctl
    get_url:
      url: "https://github.com/weaveworks/eksctl/releases/download/{{ eksctl_version }}/eksctl_Linux_amd64.tar.gz"
      dest: /tmp/eksctl.tar.gz

  - name: Extract eksctl
    unarchive:
      src: /tmp/eksctl.tar.gz
      dest: /usr/local/bin/
      remote_src: yes

  - name: Ensure eksctl executable
    file:
      path: /usr/local/bin/eksctl
      mode: '0755'

  # ---------------- MariaDB ----------------
  - name: Install MariaDB
    dnf:
      name:
        - mariadb105-server
      state: present

  - name: Enable and start MariaDB
    systemd:
      name: mariadb
      enabled: yes
      state: started

  # ---------------- ArgoCD ----------------
  - name: Create argocd namespace
    become: false
    shell: |
      kubectl create namespace argocd --dry-run=client -o yaml | kubectl apply -f -

  - name: Install ArgoCD
    become: false
    shell: |
      kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

  # ---------------- NGINX Ingress ----------------
  - name: Install NGINX Ingress Controller
    become: false
    shell: |
      kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.11.1/deploy/static/provider/cloud/deploy.yaml
